{
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": [
        "prettier"
    ],
    "extends": [
        "airbnb",
        "prettier"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": ["js", "ts"]
            }
        }
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "printWidth": 120,
                "singleQuote": true,
                "tabWidth": 4,
                "trailingComma": "es5"
            }
        ],
        "import/prefer-default-export": "off",
        "import/extensions": "off"
    }
}