---
import Header from '../../components/Header.astro';
import BaseHead from '../../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import Footer from '../../components/Footer.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead description={SITE_DESCRIPTION} title={SITE_TITLE} />
    </head>
    <body>
        <Header />
        <main>
            <h1>Jak możesz pomóc?</h1>

            <section>
                <h2>Wsparcie finansowe</h2>
                <p>Możesz pomóc, wpłacając dowolną kwotę na nasze konto bankowe:</p>
                <p><strong>Numer konta: 00 0000 0000 0000 0000 0000 0000</strong></p>
            </section>

            <section>
                <h2>Przekaż dary</h2>
                <p>Potrzebujemy:</p>
                <ul>
                    <li>Koce i ręczniki</li>
                    <li>Karmę dla zwierząt</li>
                    <li>Miski, smycze, legowiska</li>
                    <li>Żwirek dla kotów</li>
                </ul>
                <p>Możesz dostarczyć dary do naszego punktu zbiórki lub skontaktować się z nami w sprawie odbioru.</p>
            </section>

            <section>
                <h2>Udostępnij w mediach społecznościowych</h2>
                <p>
                    Pomóż nam dotrzeć do większej liczby osób! Udostępnij informacje o naszej działalności w swoich
                    mediach społecznościowych.
                </p>
            </section>

            <section>
                <h2>Wolontariat</h2>
                <p>Jeśli masz czas i chcesz aktywnie pomóc, dołącz do naszego zespołu wolontariuszy! Możesz:</p>
                <ul>
                    <li>Opiekować się zwierzętami</li>
                    <li>Pomagać w organizacji wydarzeń</li>
                    <li>Wspierać adopcje poprzez kontakt z potencjalnymi opiekunami</li>
                </ul>
                <p>Skontaktuj się z nami, aby dowiedzieć się więcej!</p>
            </section>

            <section>
                <h2>Domy tymczasowe</h2>
                <p>
                    Niektóre zwierzęta potrzebują tymczasowego schronienia, zanim znajdą stały dom. Jeśli masz warunki i
                    chęć, możesz zostać domem tymczasowym i dać zwierzakowi szansę na lepsze życie!
                </p>
            </section>

            <section>
                <h2>Organizacja zbiórek</h2>
                <p>
                    Możesz pomóc, organizując zbiórki darów w swojej szkole, pracy lub społeczności. Skontaktuj się z
                    nami, a pomożemy w ich organizacji.
                </p>
            </section>
        </main>
        <Footer />
    </body>
</html>
