---
import Header from '../../components/Header.astro';
import BaseHead from '../../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import Footer from '../../components/Footer.astro';
---

<!doctype html>
<html lang="pl">
    <head>
        <BaseHead description={SITE_DESCRIPTION} title={SITE_TITLE} />
    </head>
    <body>
        <Header />
        <main>
            <section>
                <h1>Skontaktuj się z nami!</h1>
            </section>
        </main>
        <Footer />
    </body>
</html>
