$primary: #F9B7A2;
$secondary: #9893DA;

h1 > span {
    color: $secondary;
}

.opening-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.opening-text-contener {
    flex: 1;
}

.opening-description {
}

.main-page-cat-contener {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.main-img {
    width: 300px;
    max-width: 300px;
    height: auto;
}

.button {
    max-width: 300px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    background: $secondary;
    padding: 15px 25px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
        color: white;
    }
}