---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import styles from './index.module.scss';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead description={SITE_DESCRIPTION} title={SITE_TITLE} />
    </head>
    <body>
        <Header />
        <main>
            <section className="opening-section">
                <div className="opening-text-contener">
                    <h1>Adoptuj zwierzaka</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus vulputate lacinia. Cras
                        vehicula mi nunc, non pretium libero luctus ut. Donec metus turpis, luctus non lectus eu,
                        dapibus laoreet augue. Mauris porta eleifend enim ac bibendum. Suspendisse imperdiet velit vel
                        quam auctor, sed
                    </p>
                    <a className={styles.button} href="/dog">Zobacz wszystkich podopiecznych</a>
                </div>
                <img alt="Main Page Cat" className="main-img" src="src/assets/images/mainPageImg.png" />
            </section>
        </main>
        <Footer />
    </body>
</html>
