---
import { getEntry } from 'astro:content';

const entry = await getEntry('static', 'footer');

if (!entry) {
    throw new Error('Could not load footer.md');
}

const { Content } = await entry.render();
const { data } = entry;
---

<footer>
    <div>
        {data.image && <img alt="Footer logo" height="80" loading="lazy" src={data.image} width="200" />}

        <div class="social-links">
            <ul>
                {
                    data.linkedIn && (
                        <li>
                            <a href={data.linkedIn} target="_blank">
                                LinkedIn
                            </a>
                        </li>
                    )
                }
                {
                    data.facebook && (
                        <li>
                            <a href={data.facebook} target="_blank">
                                Facebook
                            </a>
                        </li>
                    )
                }
                {
                    data.twitter && (
                        <li>
                            <a href={data.twitter} target="_blank">
                                Twitter
                            </a>
                        </li>
                    )
                }
            </ul>
        </div>

        <div class="footer-body">
            <Content />
        </div>
    </div>
</footer>
